$white: #FFF;
$off-white: #F9F9F9;
$gray: #CCC;
$black: #000;
$blue: #00BDFF;
$dark-blue:#0b111e;
$pink: #FF00F3;
$purple: #993399;
$purple-dark: #800d80;

//GRADIENT
$linear-purple: linear-gradient(180deg,  $pink, #00000000);
$linear-purple-light: linear-gradient(180deg,  #0b111e, #ffffff);
// $grad-1: ;
// $grad-2: ;

