@import "mixins";
@import "media-querys";

$body-font: "Roboto";

$biggest-font-size: 28px;
$h1-font-size: 24px;
$h2-font-size: 20px;
$h3-font-size: 16px;
$normal-font-size: 15px;
$small-font-size: 13px;
$smaller-font-size: 12px;
$tiny-font-size: 10px;

$font-lighter: 300;
$font-medium: 400;
$font-semibold: 700;

@include pc {
  $biggest-font-size: 40px;
  $h1-font-size: 36px;
  $h2-font-size: 24px;
  $h3-font-size: 20px;
  $normal-font-size: 16px;
  $small-font-size: 14px;
  $smaller-font-size: 12px;
}
